
######################
# Java
######################

*.class
 
# Package Files #
*.war
*.ear
*.db
 
######################
# Eclipse
######################

# Directories #
/build/
/bin/

.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.loadpath

######################
# OS Files 
######################
 
.DS_Store